{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'setlist/css/setlist.css' %}">
{% endblock %}

{% block content %}

<div class="row g-0">
    <div class="col-4 setlists">
        <h2> My Setlists </h2>
        <table>
            <tr>
                <th> Setlist Name </th>
                <th> Actions </th>
            </tr>
            {% for setlist in setlists %}
            <tr>
                <td>
                    <a href="{% url 'setlist_view' setlist.id %}"> {{setlist.title}}</a>
                </td>
                <td>
                    <a href="{% url 'setlist_edit' setlist.id %}"> Edit </a>
                    <form method="post" action="{% url 'setlist_delete' setlist.id %}" class="delete-form">
                        {% csrf_token %}
                        <button type="button" class="btn btn-danger delete-btn">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="col-8 setlist_view">
        <h2> {{ setlist.title }} </h2>
        <table>
            <tr>
                <th> Piece </th>
                <th> Composer </th>
                <th> Arranged By </th>
                <th> Genre </th>
                <th> March Card Location </th>
                <th> Band Arrangement </th>
            </tr>
            {% for piece in pieces %}
            <tr>
                <td> {{ piece.title }} </td>
                <td> {{ piece.composer }} </td>
                <td> {{ piece.arranged_by }} </td>
                <td> {{ piece.genre }} </td>
                <td> {{ piece.mc_location }} </td>
                <td> {{ piece.band_arrangement }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>

{% endblock %}