{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'setlist/css/setlist.css' %}">
{% endblock %}

{% block content %}

<div class="row g-0">
    <div class="col setlists">
        <div class="row g-0">
            <div class="col-6">
                <h2> My Setlists </h2>
            </div>
            <div class="col-6">
                <a href="{% url 'setlist_add' %}" class="btn btn-success"> Create a Setlist </a>
            </div>
        </div>

        {% for setlist in setlists %}
        <div class="row g-0">
            <div class="col-4">
                <a href="{% url 'setlist_view' setlist.id %}"> {{setlist.title}}</a>
            </div>
            <div class="col">
                <a href="{% url 'setlist_edit' setlist.id %}" class="btn btn-warning"> Edit </a>
                <a href="{% url 'setlist_print' setlist.id %}" class="btn btn-info" target="_blank"> Print </a>
                <form method="post" action="{% url 'setlist_delete' setlist.id %}" class="d-inline delete-form">
                    {% csrf_token %}
                    <button type="button" class="btn btn-danger delete-btn">Delete</button>
                </form>
            </div>

        </div>
        {% endfor %}
    </div>

    <div class="col-sm-7 setlist-view">
        <div class="row g-0">
            {% if current_url == setlist %}
            <h2> Please Select a Setlist</h2>
            {% else %}
            <h2> {{ setlist.title }} </h2>
            <p> {{ setlist.description }} </p>
        </div>
        <div class="row g-0 set-table">
            <table>
                <tr>
                    <th> Piece </th>
                    <th> Composer </th>
                    <th> Arranged By </th>
                    <th> Genre </th>
                    <th> March Card Location </th>
                    <th> Band Arrangement </th>
                </tr>
                {% for piece in setlist.pieces.all %}
                <tr>
                    <td><a href="{% url 'piece_view' piece.id %}">{{ piece.title }}</a></td>
                    <td> {{ piece.composer }} </td>
                    <td> {{ piece.arranged_by }} </td>
                    <td> {{ piece.genre }} </td>
                    <td> {{ piece.mc_location }} </td>
                    <td> {{ piece.band_arrangement }} </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}