/* Library */
.library {
    margin: 50px;
}

/* Search Bar */
.search-bar {
    margin: 0px;
}

.search {
    padding-left: 0px;
}

.filter {
    padding-right: 0px;
}

/* Library Table */
tr {
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
    column-width: 100px;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Piece Form */
.form {
    margin: 50px;
    max-width: 500px;
}

/* Media Query */
@media screen and (max-width:767px) {

    .library {
        margin: 15px 0px;
    }

    .table {
        overflow-x: scroll;
    }

    .form {
        margin: 15px 0px;
    }

}

@media screen and (max-width: 1200px) {
    .library {
        max-width: 600px;
    }
}